[server]
host = "0.0.0.0"
port = 8080
sizeLimit = 2048 # MB

[shell]
editor = true

[log]
logFilePath = "/app/logs/gh-proxy.log"
level = "debug" # debug, info, warn, error

[auth]
token = ""

[registry]
default = "registry-1.docker.io"
#registry-1.docker.io, ghcr.io ...
