[server]
host = "0.0.0.0"
port = 8080
size_limit = 2048 # MB

[shell]
editor = true

[log]
log_file_path = "/app/logs/gh-proxy.log"
level = "debug" # debug, info, warn, error

[auth]
token = ""

[registry]
default = "registry-1.docker.io"
#registry-1.docker.io, ghcr.io ...

[cloudflare]
zone_id = ""   # 你的 Cloudflare Zone ID
api_token = "" # 具有 Analytics 读取权限的 API Token

[ipinfo]
token = "" # 你的 ipinfo.io API token